<div [ngClass]="showMenu ? ' h-screen overflow-hidden' : ''">
  <div class="mx-4 my-6">
    <header class="flex justify-between items-center">
      <img class="h-8" src="assets/images/logo.svg" alt="logo" />
      <img
        (click)="togglemenu()"
        class="h-6 lg:hidden"
        src="assets/images/icon-menu.svg"
        alt="menu icon"
      />
    </header>
    <main class="my-7">
      <picture>
        <source
          media="(min-width: 480px)"
          srcset="assets/images/image-web-3-desktop.jpg"
        />
        <img src="assets/images/image-web-3-mobile.jpg" alt="" />
      </picture>
      <h1 class="font-bold text-4xl mr-10 my-5">
        The Bright Future of Web 3.0?
      </h1>

      <p class="text-c-dark-grayish-blue mr-2 text-sm">
        We dive into the next evolution of the web that claims to put the power
        of the platforms back into the hands of the people. But is it really
        fulfilling its promise?
      </p>
      <button
        class="bg-c-soft-red tracking-widest my-5 text-c-off-white uppercase font-bold py-3 px-8 text-xs"
      >
        Read more
      </button>
    </main>
    <aside class="bg-c-very-dark-blue text-c-off-white px-4 py-6">
      <h1 class="text-c-soft-orange text-3xl font-bold">New</h1>
      <h2 class="font-extrabold text-lg mb-2 mt-6">
        Hydrogen VS Electric Cars
      </h2>
      <p class="text-c-grayish-blue">
        Will hydrogen-fueled cars ever catch up to EVs?
      </p>
      <hr class="my-6 text-c-grayish-blue" />
      <h2 class="font-extrabold text-lg mb-2 mt-6">
        The Downsides of AI Artistry
      </h2>
      <p class="text-c-grayish-blue">
        What are the possible adverse effects of on-demand AI image generation?
      </p>
      <hr class="my-6 text-c-grayish-blue" />
      <h2 class="font-extrabold text-lg mb-2 mt-6">Is VC Funding Drying Up?</h2>
      <p class="text-c-grayish-blue">
        Private funding by VC firms is down 50% YOY. We take a look at what that
        means.
      </p>
    </aside>
    <aside class="mt-12 mb-16">
      <div class="flex gap-5 my-8">
        <img
          src="assets/images/image-retro-pcs.jpg"
          class="h-32 w-24"
          alt="retro pcs"
        />
        <div class="flex flex-col justify-around">
          <h1 class="text-3xl text-c-grayish-blue font-bold">01</h1>
          <h2 class="font-bold text-lg">Reviving Retro PCs</h2>
          <p class="text-c-dark-grayish-blue text-sm">
            What happens when old PCs are given modern upgrades?
          </p>
        </div>
      </div>
      <div class="flex gap-5 my-8">
        <img
          src="assets/images/image-top-laptops.jpg"
          class="h-32 w-24"
          alt="retro pcs"
        />
        <div class="flex flex-col justify-around">
          <h1 class="text-3xl text-c-grayish-blue font-bold">02</h1>
          <h2 class="font-bold text-lg">Top 10 Laptops of 2022</h2>
          <p class="text-c-dark-grayish-blue text-sm">
            Our best picks for various needs and buzdgets.
          </p>
        </div>
      </div>
      <div class="flex gap-5 my-8">
        <img
          src="assets/images/image-gaming-growth.jpg"
          class="h-32 w-24"
          alt="retro pcs"
        />
        <div class="flex flex-col justify-around">
          <h1 class="text-3xl text-c-grayish-blue font-bold">03</h1>
          <h2 class="font-bold text-lg">The Growth of Gaming</h2>
          <p class="text-c-dark-grayish-blue text-sm">
            How the pandemic has sparked fresh opportunities.
          </p>
        </div>
      </div>
    </aside>
  </div>
  <div *ngIf="showMenu" class="h-screen absolute top-0 left-0 w-full z-10 flex">
    <div
      (click)="togglemenu()"
      class="bg-c-very-dark-blue opacity-20 h-screen w-1/3"
    ></div>
    <div class="h-screen flex flex-col w-2/3 bg-white opacity-100 p-6">
      <img
        (click)="togglemenu()"
        class="h-7 w-7 self-end"
        src="assets/images/icon-menu-close.svg"
        alt=""
      />
      <nav class="flex flex-col mt-20 gap-4">
        <a href="#">Home</a>
        <a href="#">New</a>
        <a href="#">Popular</a>
        <a href="#">Trending</a>
        <a href="#">Categories</a>
      </nav>
    </div>
  </div>
</div>
<!-- <div class="h-screen bg-yellow-200 flex">
  <div class="w-1/3 bg-green-500"></div>
  <div class="w-2/3 bg-blue-500"></div>
</div> -->
